body{
text-align: center;

}

.btn{
  height: 100px;
  width: 100px;
  border-radius: 20%;
  margin: 10px;
  border: 5px solid black;
}
.container{
  display: flex;
  justify-content: center;
}
.red{
  background-color: red;

}

.green{
  background-color:green;
  
}
.yellow{
  background-color: yellow;
  
}
.blue{
  background-color: blue;
  
}

.flash{
  background-color: white;
}
#startbtn{
  margin: 5px;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 30px;
  background-color: rgb(205, 201, 201);
  font-size: 20px;
}



